<%- include('partials/header') %>

<main>
    <h1>Categories</h1>
    <a href="/new-category" class="btn">+ Add Category</a>
    <ul>
        <% categories.forEach(category => { %>
            <li>
                <a href="/category/<%= category.category_id %>">
                    <%= category.name %>
                </a>
            </li>
        <% }) %>
    </ul>
</main>

<%- include('partials/footer') %>