<%- include('partials/header') %>

<main>
    <h1>Dashboard</h1>

    <p>Welcome <%= name %></p>

    <% if (role === 'admin') { %>
        <a href="/users">View Users</a>
    <% } %>

    <a href="/logout">Logout</a>

</main>

<%- include('partials/footer') %>