<%- include('partials/header') %>

<main>
    <h1>Create Category</h1>

    <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
        <ul>
            <% errors.forEach(error => { %>
                <li><%= error.msg %></li>
            <% }) %>
        </ul>
    <% } %>

    <form action="/new-category" method="POST">
        <label>Name</label>
        <input type="text" name="name" required minlength="2">

        <button type="submit">Create</button>
    </form>
</main>

<%- include('partials/footer') %>